@import 'cssStyles/mainStyles';

:host{
    --height: 30vh;
    --default-padding: 2rem;
}

.banner-container{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    height: var(--height);
    background: linear-gradient(180deg,var(--main-accent),transparent,transparent);
    margin-bottom: 10vh;
}

.banner-side-img{
    width: var(--height);
    position: absolute;
    left: -6rem;
}

.call-to-action{
    flex: 1;
    padding-left: 3vw;
    position: absolute;
    left: 12rem;
}

.main-heading{
    font-size: 4em;
    font-family: 'Notable', sans-serif;
}

.sub-heading{
    font-size: 3em;
    padding-left: 2vw;
}