.header {
    height: 60vh;
    width: 100%;
    background-image: url('../../../resources/Backgrounds/background2.jpg');
    position: relative;
}
.products-preview {
    position: absolute;
    right: 0;
    top: 0;
    height: 80%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.product-banner {
    height: 65%;
    width: 75%;
    border: 1px solid black;
}
.view-products-button {
    width: 35%;
}
.view-products-button h2 {
    text-align: center;
}
.selection {
    height: 3rem;
    width: 15%;
    border: 1px solid black;
    position: absolute;
    right: 0;
    bottom: 0;
}
