.header {
    height: 60vh;
    width: 100%;
    background-image: url('../../../resources/Backgrounds/background2.jpg');
    position: relative;
}
.products-preview {
    position: absolute;
    right: 0;
    top: 15;
    height: 90%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.product-banner {
    height: 65%;
    width: 75%;
}
.view-products-button {
    width: 35%;
    height: 4rem;
    background-color: rgb(51, 138, 192);
    color: white;
    border: none;
}
.view-products-button h2 {
    text-align: center;
    font-size: large;
    font-weight: 600;
}
.selection {
    height: 3rem;
    width: 15%;
    position: absolute;
    right: 0;
    bottom: 0;
}
