.nav-container {
    height: 3rem;
    width: 100%;
    background-color: #838377;
    position: relative;
}
nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    right: 0;
    width: 40vw;
    height: 100%;
}
a {
    text-decoration: none;
    color: white;
}
.nav-button {
    background-color: black;
    height: 85%;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(4deg);
}
