@import 'cssStyles/mainStyles';

.header{
    background-color: var(--main-color);
}

.page-title{
    font-size: 7em;
    font-family: 'Pacifico', cursive;
}

.slds-tabs_default__content{
    background-color: var(--main-color);
}