@import 'cssStyles/mainStyles';

.header{
    background-color: var(--main-color);
}

.slds-tabs_default__content{
    background: var(--main-color);
}

.page-title{
    font-size: 100px;
    font-family: 'Pacifico', cursive;
}

 .slds-tabs_default__item.slds-is-active:after {
    background-color: var(--main-accent);
}

.slds-tabs_default__item:hover:after {
    background-color: var(--main-accent);
}

.component-row{
    margin: 10vh 0;
}

.border{
    border: 1px solid var(--secondary-color);
    padding: 0;
    border-radius: 50vw;
    opacity: 0.5;
}