@import 'cssStyles/mainStyles';
.footer-container{
    background: var(--secondary-accent);
    color: white;
}

.copyright{
    background: #7e615c;
    color:lightgray;
}

.slds-col{
    padding: .75rem;
}